/*  your css code here. If applicable */
.container{
	display:flex;
	align-items:center;
	justify-content: space-between;
	width:400px;
	height:200px;
	background-color:#CCCCCC;
	border-radius:30px;
	border: 2px solid #000;
}
.colored-block{
	display: inline-block;
	width:80px;
	height:50px;
	border-radius:50px;
	margin: 0 40px;
}
 .red {
            background-color: #e74c3c; /* Red color */
      }

 .green {
            background-color: #2ecc71; /* Green color */
        }

.yellow {
            background-color: #f1c40f; /* Yellow color */
        }